

/* GENERAL APPEARANCE */
html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	/* padding: 0; */
}
body {
	background: #ffffff;
	color: #111111;
	font-family: 'Open Sans', "Times New Roman", Times, serif;
	padding: .5%;
}

h2 {
	color: #656664;
}

h4 {
	color: #656664;
}


form{
	background: #fffbf0;
	-moz-border-radius: 2%;
	/* -webkit-border-radius: 2%; */
	border-radius: 0.5%;
	padding: 2%;
	width: 75%;
	display: block;
	margin: 0 auto;
	border: 1px solid #E4E8EB;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.12);
}

fieldset {
	background: #cdd4be;
	border-color: #fffccc;

}


legend {
	font-weight: bold;
}

#title{
	text-align: center;
}

/* Style the list items*/
form ol li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #cfdde5;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: .5%;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	list-style: none;
	padding: 1% 2%;
	margin-bottom: .5%;
}

form ol ol li {
	background: none;
	border: none;
	float: left;
}



/*Add a counter to the elements */
form{
	counter-reset: fieldsets;
}

form > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}

/*payment formatting */
form fieldset fieldset label {
	background:none no-repeat left 50%;
	line-height: 20px;
	padding: 0 0 0 30px;
	width: auto;
}
form label[for=visa] {
	background-image: url("img/visa.gif");
}
form label[for=amex] {
	background-image: url("img/amex.gif");
}
form label[for=mastercard] {
	background-image: url("img/mastercard.gif");
}

@media only screen and (max-width: 480px) {
	body{
		background: #5b675d;
	}
	.form {width: 40%;
	}
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
	body{
		background: #cfdde5;
	}
	.form {width: 75%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	body{
		background: #fffccc;
	}
	.form {width: 100%;
	}
}
