.banner {
  height: 350px;
  text-align: center;
  background-size: cover;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 8px;
  position: relative;
}

#chineseme-banner {
  background-image: url("../img/cover-chineseme.png");
  background-position: center;
}

#kayo-banner {
  background-image: url("../img/cover-kayo.png");
  background-position: center;
}

#pkubbs-banner {
  background-image: url("../img/cover-pkubbs.png");
  background-position: center;

}

#graphic-banner {
  background-image: url("../img/cover-graphic.png");
  background-position: center;
}

#graphic1 {
  width: 100%;
}

.banner p {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  margin: auto;
}

.text-block {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.banner .title {
  font-size: 75px;
  font-weight:lighter;
  letter-spacing: 0.1em;
}

#chineseme {
  color: #589FFC;
}

#kayo {
  color:#F11849;
}

#pkubbs {
  color:#FC6C4B;
}

#graphic {
  color: #FBC05D;
}

.banner .description {
  font-size: 22px;
  color: #ffffff;
  font-weight: normal;
  margin-top: 4px;
}

section {
  margin-left: 250px;
  margin-right: 250px;
  margin-top:50px;
}


section p {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: .09em;
  text-rendering: optimizeLegibility;
  margin-bottom: 30px;
}

.body-content {
  margin-top: 100px;
}

h1 {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
  line-height: 0em;
  letter-spacing: .09em;
  text-transform: none;
  color: #a7aaa9;
  margin-top: 50px;
}

h2 {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  line-height: 1.2em;
  letter-spacing: .05em;
  text-transform: none;
  color: #333;
  margin-bottom: 30px;
}

h3 {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  line-height: 1.3em;
  letter-spacing: .05em;
  text-transform: none;
  color: #333;
}

.body-text {
  margin-left: 100px;
}

section img {
  width: 100%;
  margin-bottom: 30px;
}

.product-screen {
  border-radius: 5px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
}


/* below are for some unique images */

#kayo-screen3 {
  padding:0 70px;
}

#pkubbs-stats {
  padding:0 30px;
}



.photo-grid {
  padding: 0;
  margin: 0;
  text-align: center;
}

.photo {
  width: 49%;
  box-sizing: border-box;
  padding: 1em;
  display: inline-block;
}

.photo-name {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  line-height: 2px;
}

.photo-time {
  text-align: left;
}

@media screen and (max-width: 900px) {
  section {
    margin-left: 80px;
    margin-right: 80px;
  }

  .banner {
    height: 250px;
  }

  .banner .title {
    font-size: 50px;
  }

  .banner .description {
    font-size: 16px;
  }

  .opennav {
    display: none;
  }
}


@media screen and (max-width: 650px) {
  section {
    margin-left: 80px;
    margin-right: 80px;
  }

  .banner {
    height: 150px;
  }

  .banner .title {
    font-size: 30px;
  }

  .banner .description {
    font-size: 12px;
  }

  .body-text {
    margin-left: 0;
  }

  .photo {
    display: block;
    width: 100%;
  }
}
